* {
    margin: 10;
    font-family: "Georgia", sans-serif;
    color: #2c3e50;
}
        
body {
    background-color: rgb(176, 196, 222) ;
}
a { 
    text-decoration: none;
}
h2 {
    color: #2c3e50;
    margin: 20px;
    
}
#table {
    background-color:Lavender;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 20px auto;
}

#table td {
    padding: 15px;
    text-align: center;
}
#first {
    background-color:rgb(255, 255, 240) ;
    border-radius: 10px;
}

#price {
    color: red;
}

#top {
    margin-top:20px;
}
